@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-poppins-regular: 'Poppins-regular';
	--font-poppins-semobold: 'Poppins-semibold';
	--font-poppins-bold: 'Poppins-bold';
	--font-inter-regular: 'Inter-regular';
	--font-bristone: 'Bristone';
}

@font-face {
	font-family: 'Poppins-regular';
	src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('woff2');
}

@font-face {
	font-family: 'Poppins-bold';
	src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('woff2');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-poppins-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-poppins-bold);
}
